$logo-circle-icon-width: $logo-circle-diameter * 0.667;

bld-logo-circle {
  @include card();

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: -$logo-circle-offset;
  left: -$logo-circle-offset;

  width: $logo-circle-diameter;
  height: $logo-circle-diameter;

  border-radius: 50%;

  background-color: color(natural-extra);
  background-image: url('/images/paper-2.jpg');

  transition: box-shadow 0.2s;

  .svg-icon {
    width: $logo-circle-icon-width;
    height: $logo-circle-icon-width;
  }
}

bld-logo-circle:hover {
  @include low-shadow();
}

@media (max-width: $small-screen-width) {
  bld-logo-circle {
    top: -$logo-circle-offset + 36px;
  }
}
