$footer-height: 40px;

bld-footer {
  display: flex;
  justify-content: center;

  width: 100%;
  height: $footer-height;
  margin-top: 60px;

  font-size: font-size(m);

  a {
    @include card();
    display: block;
    height: $footer-height * 5 / 3;
    width: $footer-height * 5 / 3;
    margin: 0 20px;
    padding: $footer-height / 3;
    border-radius: 50%;
    box-shadow: none;
    background-color: transparent;
    transition-property: box-shadow, color;
    transition-duration: 0.2s;
  }

  a:hover {
    @include high-shadow();
  }

  a:active {
    @include low-shadow();
    transition-duration: 0.05s;
  }

  .svg-icon {
    height: 100%;
    width: 100%;
  }
}
