$nav-bar-height: 42px;
$selected-tab-border-width: 4px;

bld-nav-bar {
  @include card();
  @include title-stack();
  display: block;
  height: $nav-bar-height + $selected-tab-border-width * 2;
  line-height: $nav-bar-height;
  padding-top: $selected-tab-border-width;
  vertical-align: middle;
  color: color(natural-2);

  ul {
    display: flex;
    justify-content: space-around;
    padding-left: $logo-circle-diameter - $logo-circle-offset;
  }

  li {
    margin: 0 5px;
    padding: 0 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: font-size(l);
  }

  li.selected {
    border-bottom: $selected-tab-border-width solid color(natural-5);
  }

  a:hover {
    text-decoration: none;
  }
}

@media (max-width: $medium-screen-width) {
  bld-nav-bar {
    li {
      font-size: font-size(m);
    }
  }
}

@media (max-width: $small-screen-width) {
  bld-nav-bar {
    height: auto;
    padding-bottom: $selected-tab-border-width;

    ul {
      flex-direction: column;
      justify-content: flex-start;
    }

    li {
      height: $nav-bar-height;
      margin-left: 24px;
      font-size: font-size(l);
    }

    li.selected {
      padding-left: 4px;
      border-left: $selected-tab-border-width solid color(natural-5);
      border-bottom-width: 0;
    }
  }
}
