// --- Shared values --- //

$colors: (
  black: #000000,
  white: #FFFFFF,

  gray-1: #212121, // 87% opacity of black on white
  gray-2: #727272, // 54% opacity of black on white
  gray-3: #b8b8b8, // 26% opacity of black on white
  gray-4: #dadada, // 12% opacity of black on white
  gray-5: #f9f9f9,

  blue-1: #2299EE,
  blue-2: #77CCFF,

  yellow-1: #D6AF00,
  yellow-2: #FFE675,

  natural-1: #748d2f,
  natural-2: #be8727,
  natural-3: #835913,
  natural-4: #e2b844,
  natural-5: #c1513c,
  natural-extra: #f5e8d0,

  soft-1: #3d3c3e,
  soft-2: #50505a,
  soft-3: #5b5050,
  soft-4: #a9cfd6,
  soft-5: #f9b8bd,

  formal-1: #64646e,
  formal-2: #c8c8dc,
  formal-3: #ec2426,
  formal-4: #3d3c3e,
  formal-5: #2c292a
);

$font-sizes: (
  xs: 12px,
  s: 14px,
  m: 16px,
  l: 22px,
  xl: 32px,
);

$small-screen-width: 600px;
$medium-screen-width: 800px;

$logo-circle-diameter: 180px;
$logo-circle-offset: $logo-circle-diameter / 3;
$nav-bar-gap: 25px;
$page-padding: 50px;

@font-face {
  font-family: 'Basque';
  src: url('/fonts/basque-normal.ttf') format('truetype');
}
@font-face {
  font-family: 'Basque';
  src: url('/fonts/basque-bold.ttf') format('truetype');
  font-weight: bold;
}

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@function font-size($size-name) {
  @return map-get($font-sizes, $size-name);
}

@mixin title-stack() {
  font-family: Basque, sans-serif;
  font-weight: bold;
}

@mixin helvetica-stack() {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
}

@mixin normal-shadow() {
  box-shadow: 0 0 14px 0 rgba(color(gray-1), 0.3);
}

@mixin high-shadow() {
  box-shadow: 0 0 28px 0 rgba(color(gray-1), 0.3);
}

@mixin low-shadow() {
  box-shadow: 0 0 6px 0 rgba(color(gray-1), 0.3);
}

@mixin card() {
  @include normal-shadow();
  border-radius: 2px;
  background-color: color(gray-5);
}

// --- General styles --- //

ul, ol, dl, dd, dt, li, div, body, p, form, hr, h1, h2, h3, h4, h5, img, button {
  margin: 0;
  padding: 0;
}

ul {
  padding-left: 0;
  list-style-type: none;
  width: 100%;
}

html {
  font-size: font-size(m);
}

body {
  @include helvetica-stack();
  padding: 0 $nav-bar-gap;
  color: color(gray-1);
}

body, html {
  background-color: color(natural-extra);
  //  background-image: url('/images/paper-1.jpg');
}

h1, h2, h3, h4, h5 {
  @include title-stack();
  text-align: center;
}

h1 {
  margin: 30px 0;
}

h2, h3, h4, h5 {
  margin: 30px 0;
  text-align: left;
}

p {
  margin: 20px 0;
}

blockquote {
  margin: 20px 0;
  padding: 1px 16px 1px 44px;
  font-style: italic;
  background-color: color(gray-4);
  border-radius: 2px;
}

a {
  color: color(natural-1);
  text-decoration: none;
  transition: color 0.2s;
}
a:visited {
  color: color(natural-1);
//  color: color(natural-3);
}
a:hover {
  color: color(natural-2);
  text-decoration: underline;
}
a:active {
  color: color(natural-5);
  text-decoration: none;
}

#content-column {
  max-width: 900px;
  margin: 80px auto 120px;
}

#route-view {
  @include card();
  min-height: 600px;
  margin-top: $nav-bar-gap;
  padding: $page-padding;
}

#main-header {
  position: relative;
  z-index: 1;
}

// --- Include all partials --- //

@import 'components/footer/footer';
@import 'components/image-slider/image-slider';
@import 'components/logo-circle/logo-circle';
@import 'components/markdown-block/markdown-block';
@import 'components/nav-bar/nav-bar';
@import 'components/svg-icon/svg-icon';
@import 'components/thumbnail-grid/thumbnail-grid';
@import 'components/toast/toast';

@import 'routes/blog-post/blog-post';
@import 'routes/page-missing/page-missing';
@import 'routes/project/project';
@import 'routes/projects/projects';
@import 'routes/welcome/welcome';
@import 'routes/writings/writings';


