// --- Shared values --- //

$colors: (
  black: #000000,
  white: #FFFFFF,

  gray-1: #444444,
  gray-2: #888888,

  blue-1: #2299EE,
  blue-2: #77CCFF,

  yellow-1: #D6AF00,
  yellow-2: #FFE675
);

$font-sizes: (
  xs: 16px,
  s: 16px,
  m: 16px,
  l: 22px,
  xl: 32px,
);

@font-face {
  font-family: 'Basque';
  src: url('/fonts/basque-normal.ttf') format('truetype');
}
@font-face {
  font-family: 'Basque';
  src: url('/fonts/basque-bold.ttf') format('truetype');
  font-weight: bold;
}

@mixin helvetica-stack() {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
}

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@function font-size($size-name) {
  @return map-get($font-sizes, $size-name);
}

// --- General styles --- //

ul, ol, dl, dd, dt, li, div, body, p, form, hr, h1, h2, h3, h4, h5, img, button {
  margin: 0;
  padding: 0;
}

ul {
  padding-left: 0;
  list-style-type: none;
  width: 100%;
}

html {
  font-size: font-size(m);
  line-height: font-size(m);
}

body {
  @include helvetica-stack();
  color: color(black);
  background-color: color(white);
}

h1, h2, h3, h4, h5 {
  text-align: center;
  font-family: Basque, sans-serif;
}

// --- Include all partials --- //

@import 'components/logo-circle/logo-circle';
@import 'components/nav-bar/nav-bar';
@import 'components/svg-icon/svg-icon';
@import 'components/toast/toast';

@import 'routes/projects/projects';
@import 'routes/welcome/welcome';
@import 'routes/writings/writings';
